body {
	background-color: #eeeeee;
}
.container1 {
	display: flex;
	align-items: left;
	justify-content: center;
}

.container1 img {
	display: flex;
	flex-wrap: wrap;
	background: no-repeat;
	width: 100%;
	height: 400px;
	padding: 0%;
	margin: 0%;
	border-radius: 0.6%;
	position: relative;
}

.text {
	position: absolute;
	margin-top: 4%;
	left: 20%;
	font-size: 25px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1%;
	background-image: url("https://wallpapercave.com/wp/wp7752451.jpg");
	opacity: .8;
	border-radius: 8%;
}

.team-section {
	width: 80%;
}

.item {
	width: 20%;
	text-align: center;
	display: block;
	text-align: center;
	margin-right: 6%;
	margin-left: 7%;
	float: left;
}

#item1,
#item2 {
	margin-bottom: 3%;
	margin-top: 7%;
}

#item3,
#item4 {
	margin-bottom: 7%;
	margin-top: 2%;
}

.item img {
	border-radius: 50%;
	height: 70%;
	width: 70%;
}

.item img:hover {
	color: cornflowerblue;
}

.name {
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #002366;
}

input[type=checkbox] {
	display: none;
}

.hamburger {
	display: none;
	font-size: 24px;
	user-select: none;
}

#item1,
#item3 {
	margin-left: 35%;
}

.sizeWork {
	width: 50%;
	height: 50%;
	margin-left: 23%;
	margin-top: 10%;
}

.navbar-try {
	margin-top: 0%;
	background-color: #002366;
	overflow: hidden;
}

.nav-links {
	display: flex;
	flex-direction: column;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.menu li a {
	color: azure;
	font-size: larger;
	padding: 2%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	display: block;
	float: left;
}

.icon-right {
	text-decoration: none;
	display: flex;
}

@media only screen and (max-width: 768px) {
	.container1 {
		margin-top: 40%;
	}
	.item {
		margin: 2%;
		display: flex;
		flex-direction: column;
	}
	.name {
		font-size: 15px;
	}

	.text {
		top: 40%;
		left: 17%;
		padding: 2%;
	}

	.menu {
		display: none;
		position: absolute;
		background-color: #002366;
		right: 0;
		left: 0;
		text-align: center;
		padding: 4px 2px;
		font-size: small;
	}

	input[type=checkbox]:checked ~ .menu {
		display: flex;
		flex-direction: column;
	}

	input[type=checkbox]:checked ~ .hamburger {
		display: block;
	}

	.hamburger {
		display: block;
		color: aliceblue;
	}
}
